.custom-modal {
    max-width: 1000px;
  }
  
  .custom-modal-body {
    display: flex;
    flex-direction: row;
  }
  
  .ticket-image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
  }

  .zoom-modal .modal-body {
    padding: 20px;
  }
  /*
  .zoom-modal img {
    max-width: 150%;
    height: auto;
  }*/
  .zoom-modal img {
    width: auto;  /* Ajusta el ancho automáticamente para aprovechar el máximo permitido */
    max-width: 100%;  /* Máximo ancho permitido */
    max-height: calc(80vh - 40px);  /* Ajusta la altura máxima, restando el padding del modal */
    margin: auto;  /* Centra la imagen dentro del modal */
  }
  
  