
.sign-in-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(../pics/poste-alta-tension-o-torre-alta-tension.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px; /* Ajusta según tus necesidades */

    height: 100vh;
}

.container {
    display: flex;
    padding: 5px;
    width: 100px;
    
    /*width: 90%;
    max-width: 600px;*/
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    /*background: rgba(255, 255, 255, 0.4);*/
    box-shadow: 0 15px 20px rgba(0, 0, 0, .4);
    
    justify-content: center; /* alinea verticalmente */
  align-items: center; /* alinea horizontalmente */

}

.contenido {
    padding: 20px;
    width: 550px;
    color: black;
    
    font-size: 15px;
}

.box {
    flex: 1;
    padding: 70px;
    border-right: 1px solid #ddd;
    
}

#left-box {
    background-color: #f9f9f9;
}
/*
#right-box {
    
    /*background-color: rgb(255, 255, 255);*/
    /*background-color: #fff;
}*/

#right-box {
    /*position: relative;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);*/
    
    position: relative;
    color: black;
    
    /*background: rgba(255, 255, 255, 0.085);*/
    /*box-shadow: 0 15px 20px rgba(0, 0, 0, .4);*/
}

.box:last-child {
    border-right: none;
}
